/* styles.css */

* {
	font-family: Arial;
}

h1, h2, h3 {

	  font-family: "DM Sans", sans-serif;
	  color:darkgreen;

}

p, li {

	  font-family: "Montserrat", sans-serif;
}

body {
	background-color:antiquewhite;

}