body {
  margin: 0;
  border: 0;
  font-family: Helvetica, Arial, sans-serif;
  justify-content: center;
}

h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 3.052rem;
}

p {
  font-size: 1rem;
  text-align: center;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* CSS Grid Container */
.gridContainer {
  display: grid;
  border: 4px black;
  border-radius: 5px;
  width: 1205px;
  height: 1000px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1px;
  justify-content: center;
}

/* CSS Grid Items */
.box {
  background-color: grey;
  color: black;
  border-radius: 5px;
  border: 4px;
  border-color: darkblue;
  grid-template: 5 / 12;
}

img {
  padding-top: 0px;
  padding-bottom: none;
  padding-top: 20px;
}



