/*grids and boxes*/

.gridContainer {
  display: grid;
  border: 4px black;
  border-radius: 5px;
  width: 1205px;
  height: 1000px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1px;
  justify-content: center;
}

.box {
  background-color: grey;
  color: black;
  border-radius: 5px;
  border: 4px;
  border-color: darkblue;
  grid-template: 5 / 12;
}

