/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */

 body {
  background-image: url('./images/Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 }

button {
  font-size: 25px;
  background-color:bisque;
  color: darkgreen;
  border: none;
  display: inline-block;
}

button:hover {
  background-color: darkslategrey;
  border: 2px;
  border-color:green;
}

.main {
  font-size: 100px;
  color: darkgreen;
  font-style: bold;
}

.desc {
  background-color: bisque;
  font-style:italic;
  font-size: 40px;
  margin-top: 50px;
}

.beach {
  margin-top: 50px;
  float: left;
}