/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */
 /* buenard-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Buenard';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/buenard-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* carlito-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Carlito';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/carlito-v4-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

 body {
  background-image: url('./images/creamwhite.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 }

button {
  font-size: 25px;
  background-color:bisque;
  color: darkgreen;
  border: none;
  display: inline-block;
}

button:hover {
  background-color: darkslategrey;
  border: 2px;
  border-color:green;
  transform: scale(1.5);
}

.main {
  font-size: 100px;
  color: darkgreen;
  font-style: bold;
  font-family: 'Buenard';
}

.desc {
  background-color: bisque;
  font-style:italic;
  font-size: 40px;
  margin-top: 50px;
  margin-right: 30px;
  font-family: 'Carlito';
}

.beach {
  float: left;
  border: 10px;
  border-color: bisque;
}

.sub {
  margin-bottom: 50px;
}

.bottom {
  font-size: 100%em
}

.about {
  font-size: 50px;
  font-style: bold;

}

h1, h2, h3 {
  font-family: 'Buenard';
}

p {
  font-family: 'Carlito';
}